.carousel{
	width: 500px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 10px;
	vertical-align: top;
}

#carouselExampleIndicators{
	border: 3px solid green;
	display: inline-block;
	margin:10px 10px 10px 10px;
}