body{
	margin: 0;
	margin-bottom: 50px;

}

html{
	position: relative;
	min-height: 100%;
}

#background{
	width: 100%;
	height: 100%;
	display: inline-block;
}

@media only screen and (max-width: 750px) {

	#about{
		width: 90%;
		height: auto;
		border-radius: 10px;
	}

	#contact{
		width: 90%;
		height: auto;
		border-radius: 10px;

	}

	#carouselExampleIndicators{
		width: 90%;
		height: auto;	}

	.nave{
		background-size: 100% 100%;
		background-attachment: fixed;
		

	}



}