

.parallax{
	background-image: url('../images/back.jpg');

	min-height: 100vh;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax2{
	background-image: url('../images/background.jpg');

	min-height: 100vh;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}