
.nave{
	display:inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	float: none;
}


#logo{
	border: 2px solid black;
	display: inline-block;
	height: auto;
	float:none;
}
